//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
$main-color: #ca0002;
$link-text: #ca0002;
$white: #ffffff;
$nav-text: #625f6e;
$footer-color: #0e0e0e;
$sky-blue: #5acae7;
$light-gray: #e5e6e7;
$black: #000;
$dark-gray-font: #5e5873;
$correct_ans_bg :#d4edda;
$correct_ans_text:#155724;
$unanswered_bg: #d1ecf1;
$unanswered_text: #0c5460;
$wrong_ans_bg: #f8d7da;
$wrong_ans_text: #721c24;

